<section class="home-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><button class="profile"><a href="javascript:a_post();" style='font-size:1.2rem;color:white'>Sign out</a></button></li>
    </ul>
    </div>
</nav>

<div style="display:'none'" > 
	<form id="a_post" action="/logout" method="post"></form>
</div>

<div class="nav-left">
    <p>Add New</p>
    <a href="/addplaylist">
        <button class="nav-button">+ Create Playlist</button>
    </a>
    <a href="/addmusic">
        <button class="nav-button">+ Add New Music</button>
    </a>

    <p>Library</p>
    <ul class="playlists">
        <li>
            {{#each defau}}
            
            <a href="/home/{{this._id}}">
                <button class="playlist">
                My Musics
                </button>
            </a>
            {{/each}}
        </li>

        <li>
            <a href="/library"><button class="playlist">Browse</button></a>
        </li>
    </ul>

    <p>Playlists</p>
    <ul class="playlists">
        <li>
            {{#each plays}}
            
            <a href="/home/{{this._id}}">
                <button class="playlist">
                {{this.name}}
                </button>
            </a>
            {{/each}}
        </li>
    </ul>
</div>

<div class="rhs">
    <img class="note" src="/pictures/note.png">
    <p class="playlist-name">browse all</p>
    <table class="playlist-table" style="width:auto">
            <tr class="heading">
		        <th class="title" style="width:20%">title</th>
		        <th class="title" style="width:20%">artist</th>
		        <th class="title" style="width:20%">album</th>
                <th class="title" style="width:20%">genre</th>
                <th class="title">Add to mine</th>
	        </tr>
            {{#each musics}}
	        <tr class="entity" style="padding:0%;">
		        <td class="title" >{{title}}</td>
                <td class="title" >{{artist}}</td>
                <td class="title" >{{album}}</td>
                <td class="title" >{{genre}}</td>
                <td ><form action="/add-music-to-my-library/{{_id}}" method="post"><button class="btn-hover color-8">ADD</button type="submit"></form></td>
	        </tr>
            {{/each}}
    </table>
    <br>
</div>
</section>