<section class="home-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><form class="sign-out" action="/logout" method="post">
            <button class="logout" type="submit" style='font-size:1.2rem;color:white'>
                Log out
            </button>
        </form></li>
    </ul>
    </div>
</nav>

<div class="nav-left">
    <p>Add New</p>
    <a href="/addplaylist">
        <button class="nav-button">+ Create Playlist</button>
    </a>
    <a href="/addmusic">
        <button class="nav-button">+ Add New Music</button>
    </a>

    <p>Playlists</p>
    <ul class="playlists">
        <li>
            {{#each data.playlists}}
            <a href="/home/{{this._id}}">
                <button class="playlist">
                {{this.name}}
                </button>
            </a>
            {{/each}}
        </li>
    </ul>
    <a href="/library">
        <button class="playlist">library</button>
    </a>
</div>

<div class="rhs">
    <table >
            {{#each musics}}
	        <tr  >
		        <td >{{title}}</td>
                <td >{{artist}}</td>
                <td >{{album}}</td>
                <td >{{genre}}</td>
                <td ><button>ADD</button></td>
	        </tr>
            {{/each}}
    </table>
</div>
</section>