<section class="home-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><form class="sign-out" action="/logout" method="post">
            <button class="logout" type="submit" style='font-size:1.2rem;color:white'>
                Log out
            </button>
        </form></li>
    </ul>
    </div>
</nav>

<div class="nav-left">
    <p>Add New</p>
    <a href="/addplaylist">
        <button class="nav-button">+ Create Playlist</button>
    </a>
    <a href="/addmusic">
        <button class="nav-button">+ Add New Music</button>
    </a>

    <p>Playlists</p>
    <ul class="playlists">
        <li>
            {{#each data.playlists}}
            <a href="/home/{{this._id}}">
                <button class="playlist">
                {{this.name}}
                </button>
            </a>
            {{/each}}
        </li>
    </ul>
</div>

<div class="rhs">
    <p class="playlist-name">🎶{{playlist.name}}</p>
    <a href="/addmusic/{{playlist._id}}">
        <button class="add-to-playlist-button">+ Add Music</button>
    </a>
    <table class="playlist-table">
        {{!-- colspan="4" --}}
            <tr class="heading">
		        <th class="title">title</th>
		        <th class="title">artist</th>
		        <th class="title">album</th>
                <th class="title">genre</th>
	        </tr>

            {{#each playlist.musics}}
	        <tr class="entity" >
		        <td class="title">{{this.title}}</td>
                <td class="title">{{this.artist}}</td>
                <td class="title">{{this.album}}</td>
                <td class="title">{{this.genre}}</td>
	        </tr>
            {{/each}}
    </table>
</div>
</section>