<nav class="nav-top">
    <div class="logo">
        <img src="/pictures/logo1.png" height="85px">
    </div>
</nav>

<div style="height: 3px; background: #9E67EF;"></div>

<div class="nav-left">
    <p>Add New</p>
    <a href="/addplaylist">
        <div class="mp-button"><p> + Create Playlist</p></div>
    </a>
    <a href="/addmusic">
        <div class="mp-button"><p> + Add New Music</p></div>
    </a>

    <div style="height: 15px;"></div>

    <p>Playlists</p>
    <ul class="playlists">
        <li>
            {{#each data.playlists}}
            <a href="/home/{{this._id}}">
            <div class="playlist">
            <p>{{this.name}}</p>
            </div>
            </a>
            {{/each}}
        </li>
    </ul>
</div>

<div style="height: 100%; width: 3px; float: left; background: #573a82;"></div>

<div class="rhs">
    <table class="playlist-table">
	    <tbody>
            <tr class="heading" id="heading1">
		        <th colspan="4">🎶{{playlist.name}}</th>
	        </tr>
            <tr class="heading" id="heading2">
		        <th>title</th>
		        <th>artist</th>
		        <th>album</th>
                <th>genre</th>
	        </tr>

            {{#each playlist.musics}}
	        <tr>
		        <td>{{this.title}}</td>
                <td>{{this.artist}}</td>
                <td>{{this.album}}</td>
                <td>{{this.genre}}</td>
	        </tr>
            {{/each}}
        </tbody>
    </table>
</div>