<section class="home-section">
<nav class="nav-top">

    <a href="/home"><img class="logo" src="/pictures/logo1.png"></a>

    <div class="dd-menu">
    <label for="touch"><i class='fas fa-user-cog' style='font-size:2.5rem;color:white;margin:1rem'></i></label>               
    <input type="checkbox" id="touch"> 
    <ul class="slide">
        <li><button class="profile"><a href="/profile" style='font-size:1.2rem;color:white'>Profile</a></button></li> 
        <li><button class="profile"><a href="javascript:a_post();" style='font-size:1.2rem;color:white'>Sign out</a></button></li>
    </ul>
    </div>
</nav>

<div style="display:'none'" > 
	<form id="a_post" action="/logout" method="post"></form>
</div>

<div class="nav-left">
    <p>Add New</p>
    <a href="/addplaylist">
        <button class="nav-button">+ Create Playlist</button>
    </a>
    <a href="/addmusic">
        <button class="nav-button">+ Add New Music</button>
    </a>

    <p>Library</p>
    <ul class="playlists">
        <li>
            {{#each defau}}
            
            <a href="/home/{{this._id}}">
                <button class="playlist">
                My Music
                </button>
            </a>
            {{/each}}
        </li>

        <li>
            <a href="/library"><button class="playlist">Browse</button></a>
        </li>
    </ul>

    <p>Playlists</p>
    <ul class="playlists">
        <li>
            {{#each plays}}
            
            <a href="/home/{{this._id}}">
                <button class="playlist">
                {{this.name}}
                </button>
            </a>
            {{/each}}
        </li>
    </ul>
</div>

<div class="rhs">
    <img class="note" src="/pictures/note.png">
    <p class="playlist-name">{{playlist.name}}</p>
    <a href="/addmusic/{{playlist._id}}">
        <button class="add-to-playlist-button">+ Add Music</button>
    </a>
    {{#if playlist.is_default}}{{else}}
    <a href="javascript:a_post2();">
        <button class="add-to-playlist-button">Delete playlist</button>
    </a>
    {{/if}}
    <div style="display:'none'" > 
	<form id="a_post2" action="/deleteplaylist/{{playlist._id}}" method="post"></form>
    </div>
    <table class="playlist-table">
        {{!-- colspan="4" --}}
            <tr class="heading">
		        <th class="title">Title</th>
		        <th class="title">Artist</th>
		        <th class="title">Album</th>
                <th class="title">Genre</th>
	        </tr>

            {{#each playlist.musics}}
	        <tr class="entity" >
		        <td class="title">{{this.title}}</td>
                <td class="title">{{this.artist}}</td>
                <td class="title">{{this.album}}</td>
                <td class="title">{{this.genre}}</td>
                <td>
                    <form action="/remove/{{../playlist._id}}" method="post" style="height:100%; width: 100%">
                        <input type="text" name="music_id" value="{{this._id}}" style="display: none;">
                        <button type="submit" class="btn-delete" style="height:100%; width: 100%"><span class="delete-icon"><i class="fa-regular fa-trash-can"></i></span></button>
                    </form>
                </td>
	        </tr>
            {{/each}}
    </table>
    <br>
</div>
</section>

<script>
    function a_post2() {
	    document.getElementById("a_post2").submit();
    }
</script>